<h1>Servers</h1>

<div class="table-responsive">
  <table  cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="servers">
    <thead>
      <tr>
        <th>Hostname</th>
        <th>Ip</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @servers.each do |server| %>
        <tr>
          <td><%= server.hostname %></td>
          <td><%= server.ip %></td>
          <td><%= link_to 'Show', server %> | <%= link_to 'Edit', edit_server_path(server) %> | <%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Server', new_server_path %>
